/* Header.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    position: static;
    z-index: 2000   ;
  }
  @media (max-width: 680px) {
    .navbar{
        background-color: transparent;
        padding: 10px;
        width: 0;
        position: fixed;
    }
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .search-container {
    display: flex;
  }
  
  .search {
    padding: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .login, .register {
    margin-left: 1rem;
  }
  
  /* Sidebar styles */
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
    background-color: #000;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: #333;
  }
  
  /* Menu button styles */
  .menu-btn {
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: #000;
  }
  
  @media screen and (max-width: 680px) {
    .navbar a {
      display: none;
    }
    .search-container {
      display: none;
    }
    .login, .register {
      display: none;
    }
    .menu-btn {
      display: block;
    }
  }
  