.login-container {
    width: 400px;
    height: 480px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #a5a5a5;
    background-color: #a5a5a5;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.Login-btn{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google-btn{
  height: 55px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.kakao-btn {
  height: 55px;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Login-btn {
    background-color: #ff2e2e;
    color: #333;
    border-radius: 5px;
  }

.Login-btn:hover {
    background-color: #fd6262;
  }

.google-btn {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #333;
  border-radius: 5px;
}

.google-btn:hover {
  border: 1px solid #000000;
}

.kakao-btn {
  border: 1px solid #FEE500;
  background-color: #FEE500;
  color: #333;
  border-radius: 5px;
}

.kakao-btn:hover {
  border: 1px solid #000000;
}


.icon-google {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  margin-right: 8px; /* 아이콘과 버튼 텍스트 사이의 간격 조절 */
}

.google-icon {
  width: 360px;
  height: 40px;
}



.icon-kakao {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  margin-right: 8px; /* 아이콘과 버튼 텍스트 사이의 간격 조절 */
}