/* 기본 레이아웃 */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.Login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* 폼의 최대 너비 설정 */
  width: 100%; /* 작은 화면에서는 전체 너비로 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(105, 105, 105);
  background-image: url("../../../public/images/background1.jpg"); /* 이미지 경로 수정 */
  background-size: cover; /* 이미지가 컨테이너 크기에 맞게 확장됨 */
  background-position: center; /* 이미지를 가운데로 정렬 */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
}

/* 폼 그룹 스타일 */
.form-group {
  margin-bottom: 15px;
}

.input-box {
  position: relative;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
}

.login-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #666;
}

.login-info-remember {
  display: flex;
  align-items: center;
}

.login-info-remember input {
  margin-right: 5px;
}

.find-links p {
  text-align: right;
}

/* 버튼 스타일 */
.Login-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Login-btn:hover {
  background-color: #0056b3;
}

/* 소셜 로그인 버튼 */
.login-options {
  text-align: center;
  margin-top: 20px;
}
.google-icon {
  width: 100%; /* 원하는 크기로 설정하세요 */
  height: auto; /* 비율에 맞게 높이 자동 조정 */
}
.login-options .sns-btn {
  /* border: 2px solid rgb(105, 105, 105); */
}

.google-btn,
.kakao-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.google-btn img,
.kakao-btn img {
  width: 24px; /* 이미지 크기 통일 */
  height: auto;
}
.google-btn span {
  margin-left: 10px;
  font-size: 0.9rem;
}

.kakao-btn span {
  margin-left: 10px;
  font-size: 0.9rem;
}

.signup-link p {
  margin-top: 20px;
  font-size: 0.9rem;
}

/* 반응형 설정 */

@media (max-width: 768px) {
  .login-container {
    width: 90%;
    padding: 15px;
  }

  .Login-btn {
    font-size: 0.9rem;
  }

  .google-btn,
  .kakao-btn {
    width: 40px;
    height: 40px;
  }
}
