.split-screen {
    display: flex;
    height: 100vh; 
    overflow: hidden; 
    background-color: #f4f4f8; /* 배경색 변경 */
}

.left-pane {
    width: 80%;
    overflow-y: auto;
    font-size: small;
    background-color: #ffffff; /* 배경색 추가 */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* 그림자 추가 */
}

.right-pane {
    width: 20%;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #e8e8e8; /* 배경색 변경 */
}

.text-input-container {
    display: flex; /* 가로로 */
    align-items: center;
    width:70%;
    padding: 10px 0; /* 패딩 추가 */
}

.text-input-box {
    background-color: #ffffff; 
    display: flex; /* inline-block에서 block으로 변경 */
    padding: 12px; /* 패딩 변경 */
    margin-top: 3%;
    margin-left: 5%;  
    margin-right: 4%;
    border: 2px solid #d1d1d1; /* 테두리 색상 변경 */
    border-radius: 8px; /* 둥근 모서리 변경 */
    width: 40%; 
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1); /* 그림자 추가 */
}

.text-input-box input {
    width: 100%;
    padding: 8px; /* 패딩 변경 */
    border: none;
    outline: none;
    font-size: 14px; /* 폰트 크기 변경 */
}

.share {
    padding: 3.2px;
    margin: 0;
    margin-left: 60px;
    width: 30px;
}

.toggle-switch {
    margin-left:50%;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    cursor: pointer;
    background-color: #ccc; /* 배경색 추가 */
    border-radius: 12px; /* 둥근 모서리 추가 */
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 12px; /* 둥근 모서리 변경 */
}

.slider:before {
    position: absolute;
    content: '';
    height: 20px; /* 크기 변경 */
    width: 20px; /* 크기 변경 */
    left: 4px; /* 위치 변경 */
    bottom: 2px; /* 위치 변경 */
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-switch.checked .slider {
    background-color: #4CAF50; /* 색상 변경 */
}

.toggle-switch.checked .slider:before {
    transform: translateX(36px); /* 이동 거리 변경 */
}
  
.add-journal {
    width: 89%;
    height: 7%;
    margin: 5%;
}


.preview-image {
    width: auto; /* 너비를 박스에 맞춤 */
    height: auto; /* 높이를 자동으로 조절하여 비율을 유지 */
    max-height: 200px; /* 최대 높이 설정 */
    object-fit: contain; /* 이미지 비율을 유지하면서 박스 안에 전체 이미지가 보이게 함 */
    border: 1px solid #ccc; /* 이미지 주위에 테두리 추가 */
    box-shadow: 0px 0px 8px #888888; /* 이미지에 그림자 효과 추가 */
    margin-right: 5px;  /* 오른쪽 여백 */
    margin-bottom: 5px;  /* 아래 여백 */
  }
  
.file-input {
    margin-top: 20px;  /* 상단 여백 추가 */
    margin-bottom: 20px;  /* 하단 여백 추가 */
    width: 100%;  /* 너비 조정 */
    display: block;  /* 블록 레벨 요소로 변경 */
}

.image-detail-container {
    display: flex;
    flex-direction: column; /* 세로 정렬로 변경 */
    align-items: center; /* 가운데 정렬 */
    margin-bottom: 20px;
  }
  
.image-detail-container input,
.image-detail-container textarea {
    width: 90%; /* 폭 조정 */
    margin: 5px 0; /* 상하 여백 추가 */
}

.image-detail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    float: left;
    margin-left: 5%;  
    margin-top: 10%;  
  }
  
  .image-detail-box img {
    width: 350px; /* 고정 너비 설정 */
    height: 350px; /* 고정 높이 설정 */
    object-fit: cover; /* 이미지의 비율을 유지하면서 크기에 맞추기 */
    border-radius: 10px; /* 이미지 모서리 둥글게 설정 */
    margin-bottom: 10px;
    
  }
  
  .image-detail-box input,
  .image-detail-box textarea {
    width: 90%; /* 입력 필드 너비 */
    margin: 5px; /* 입력 필드 간격 */
    padding: 8px; /* 입력 필드 내부 여백 */
    border: 1px solid #ccc; /* 입력 필드 테두리 */
    border-radius: 5px; /* 입력 필드 모서리 둥글게 */
    background-color: #fff; /* 배경색 */
  }
  
.image-number {
    position: static;
    top: 10px;
    left: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
}

.weather-selection {
    display: flex;
    justify-content: space-between; /* 날씨 가로로 나열되도록 설정 */
    width: 100%;
    margin-bottom: 10px;
}


.weather-box.selected {
    border-color: #4CAF50; /* 선택됐을 때의 테두리 색상 변경 */
  }

.weather-box {
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    border-radius: 30px; /* 둥근 모서리 변경 */
    cursor: pointer;
    overflow: hidden;
    transition: border-color 0.3s; /* 테두리 색상 변경 애니메이션 */
    margin: 10px; /* 상하좌우 모든 방향으로 10px의 여백을 줌 */ 
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1); /* 그림자 추가 */
}

.weather-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.file-input {
    display: none;
  }
  
.custom-file-input {
    margin-top:3%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.custom-file-input:hover {
    background-color: #0056b3;
}

  
.image-upload-section { /* +, 업로드한 사진 칸 */
    display: inline-block;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-left: 3%;  

}

.file-upload-box {
    margin-left: 10px; /* 텍스트 입력 박스와의 간격 설정 */
    width: 7%;
}

