.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  height: 100%;
  /* 배경 이미지 추가 */
  background-image: url("../public/images/Loginbackground.jpg"); /* 이미지 경로 수정 */
  background-size: cover; /* 이미지가 컨테이너 크기에 맞게 확장됨 */
  background-position: center; /* 이미지를 가운데로 정렬 */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}

.re-main-content {
  height: 100%;
  /* 배경 이미지 추가 */
  background-image: url("../public/images/Registerbackground.jpg"); /* 이미지 경로 수정 */
  background-size: cover; /* 이미지가 컨테이너 크기에 맞게 확장됨 */
  background-position: center; /* 이미지를 가운데로 정렬 */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}

.Login-main-content {
  height: 100vh;
}
.register-main-content {
  height: 100vh;
}

.footer {
  margin-top: 0;
}

.header {
  grid-row: 1;
}

.main {
  grid-row: 2;
}

.empty {
  height: 20px; /* Adjust this value as needed */
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure background is behind other content */
}

.About-page-swiper {
  width: 100%; /* 부모 컨테이너의 너비 */
  height: 1000px;
  margin: 0 auto; /* 가운데 정렬 */
}
